%abstract-heading {	
	text-transform: uppercase;
	font-weight: bold;
	margin: 1.3rem 0;	
	line-height: 1.2;
}

[v-cloak] { display: none !important; }

body {
	font-family: $primaryFont;
	box-sizing: border-box;	
}

$textIncrementSize: $textMaxSize;
@for $i from 1 through 6 {	
	@if $i < 3 {
		h#{$i} {
			@extend %abstract-heading;
			font-family: $primaryFont;
			font-size: #{$textIncrementSize * 0.5};
		}
		@include mq('md') {
			h#{$i} {
				font-size: #{$textIncrementSize * 0.7};
			}			
		}
	} @else {
		h#{$i} {
			@extend %abstract-heading;
			font-family: $secondaryFont;			
			font-size: #{$textIncrementSize * 0.5};
		}
		@include mq('md') {
			h#{$i} {
				font-size: #{$textIncrementSize * 0.7};
			}			
		}
	}
	$textIncrementSize: $textIncrementSize * (1 - $textIncrementRatio);
}

p {
	margin: 1rem 0;
	line-height: 1.5;
}

.font-primary {
	font-family: $primaryFont;
}

.font-secondary {
	font-family: $primaryFont !important;
}

/* Links colors */
a {
	text-decoration: underline;
	color: map-get($linkColor, 'normal');
	&:visited {color: map-get($linkColor, 'visited')}
	&:hover {color: map-get($linkColor, 'hover');}  
	&:active {color: map-get($linkColor, 'active');}
}

// Set colors
@each $colorLabel,$colorValue in $colors {
	.bg-#{$colorLabel} {
		background: $colorValue;
	}
	.text-#{$colorLabel} {
		color: $colorValue;
	}
	.btn-#{$colorLabel} {
		background: $colorValue;
		&:hover {
			background: darken($colorValue, 15%);
		}
	}
}