%abstract-container {	
	margin: 0 auto;
	padding: $containerPadding;
}

.container {
	max-width: 80%;
}

@each $bpLabel,$bpValue in $deviceBreakpoints{
	.container-#{$bpLabel} {
		max-width: $bpValue * 0.6;
		@extend %abstract-container;
	}
}