// UTilities
/* Mouse pointer */
.cursor-pointer {cursor: pointer;}
// I. Typography
/* Text size */
.text-xl {font-size: 1.25rem; line-height: 1.75rem;}
.text-2xl {font-size: 1.5rem; line-height: 2rem;}
.text-3xl {font-size: 1.875rem; line-height: 2.25rem;}
.text-4xl {font-size: 2.25rem; line-height: 2.5rem;}
.text-5xl {font-size: 3rem; line-height: 1;}
.text-6xl {font-size: 3.75rem; line-height: 1;}
.text-7xl {font-size: 4.5rem; line-height: 1;}
.text-8xl {font-size: 6rem; line-height: 1;}
.text-9xl {font-size: 8rem; line-height: 1;}

/* Box model */
$padSize: 0;
@for $i from 0 through 10 {
    .pa-#{$i} {padding: $padSize;}
    .pl-#{$i} {padding-left: $padSize;}
    .pr-#{$i} {padding-right: $padSize;}
    .pt-#{$i} {padding-top: $padSize;}
    .pb-#{$i} {padding-bottom: $padSize;}
    .px-#{$i} {padding: 0 ($padSize / 2);}
    .py-#{$i} {padding: ($padSize / 2) 0;}

    .ma-#{$i} {margin: $padSize;}
    .ml-#{$i} {margin-left: $padSize;}
    .mr-#{$i} {margin-right: $padSize;}
    .mt-#{$i} {margin-top: $padSize;}
    .mb-#{$i} {margin-bottom: $padSize;}
    .mx-#{$i} {margin: 0 ($padSize / 2);}
    .my-#{$i} {margin: ($padSize / 2) 0;}
    $padSize: $padSize + $padRatio;
}

.push-right {margin-left: auto; margin-right: 0;}
.push-left {margin-left: 0; margin-right: auto;}
.mx-auto {margin: 0 auto !important;}

.spacer--v {
  margin: 10px 0;
  @include mq('lg') {
    margin: 20px 0;
  }
}

.spacer {
	margin-top: 40px; /* define margin as you see fit */
	height: 100px;
    &-sm {
        height: 50px;
    }
}

.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: $overlayDarkColor;
    &-dark {
        background-color: red;
    }
}


.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

// Box / Layout
.border-box {
    box-sizing: border-box;
}

@include propBuild('justify-content', $flexJustify);
@include propBuild('align-items', $flexAlignItems);
@include propBuild('flex-direction', $flexDirection, flex);
@include propBuild('text-align', $alignements, text);
