// Sass variables:
$theme: 'dark';
// Colors ---------------------------------------
$primaryColor: #333333!default;
$secondaryColor: #FF8080!default;
$jokerColor: #24C4E6!default;
// Notification colors
$successColor: #2FBF71!default;
$infoColor: #41d0fc!default;
$warningColor: #ffab3cea!default;
$dangerColor: #EF2D56!default;
// Overlay
$overlayLightColor: rgba(255, 255, 255, 0.7);
$overlayDarkColor: rgba(0, 0, 0, 0.7);

// Theme color
$darkColor: #333333;
$lightColor: #FFFFFF;
$themeColor: if($theme == 'dark', $lightColor, $darkColor);
$reverseThemeColor: if($theme == 'dark', $darkColor, $lightColor);
$leadTextColor: if($theme == 'dark', darken(white, 60%), lighten(black, 60%));

$linkColor: ('normal': $themeColor, 
	'visited': if($theme == 'dark', #B39DDB, #4527A0), 
	'hover': $leadTextColor, 
	'active': lighten(black, 10%)
);

$neutralColor: #6B7280!default;
$checkedColor: #EF4444!default;

$marginSuccess: 15px;
$marginError: 25px;
// Notification colors
$primaryColorAccent: lighten($primaryColor, 60%);

// TYPOGRAPHY
$textMaxSize: 4rem;
$textIncrementRatio: 0.2;
$shadowPrimary: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px!default;
$shadowSecondary: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px!default;
// Text light and dark --------------------------
$lighterText: rbg(111,111,111)!default;
$lightText: #FFFFFF!default;
$darkText: rgb(30,30,30)!default;
$darkTextAccent: rgb(71,78,93)!default;

$colors: ('primary': $primaryColor,
	'secondary': $secondaryColor,
	'joker': $jokerColor,	
	// usual colors
	'white': #FFFFFF,
	'black': #000000,
	// Notification colors	
	'success': $successColor,
	'info': $infoColor,	
	'warning': $warningColor,
	'danger': $dangerColor,
	// Theme colors
	'theme': $themeColor,
	'theme-contrast': $reverseThemeColor,
	'dark': $darkColor,
	'light': $lightColor,	
	'transparent': transparent
);

$baseBtnSize: 1rem;
$formHeight: 48px;
$formIconPadding: 48px;

// Fonts:
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

// Padding & margin
$padRatio: 0.6rem;
$blockPadding: 15px;

// Block sizing
$contentMaxSize: 860px;

// Position
$positions: 'left', 'right', 'center', 'justify';

// CONTAINER / BLOC / LAYOUT
$containerPadding: 1rem 1.5rem;

$deviceBreakpoints: (
	'xs':  361px,
	'sm':  576px,
	'md':   768px,
	'lg':  992px,
	'xl':   1200px,
	'xxl':   1400px ) !default;
$breakpointsMax: (
	'xs':  'max-width: 361px',
	'sm':  'max-width: 576px',
	'md':   'max-width:  768px',
	'lg':  'max-width:  992px',
	'xl':   'max-width: 1200px',
	'xxl':   'max-width: 1400px' ) !default;
$breakpointsMin: (
	'xs':  'min-width: 361px',
	'sm':  'min-width: 576px',
	'md':   'min-width:  768px',
	'lg':  'min-width:  992px',
	'xl':   'min-width: 1200px',
	'xxl':   'min-width: 1400px' ) !default;

$bodyMinWidth: 360px;
$flexCommons: normal, flex-start, flex-end, center, start, end, safe, unsafe;
$flexDirection: row, row-reverse, column, column-reverse;
$flexJustify: (normal, flex-start, flex-end, center, start, end, safe, unsafe, left, right, space-between, space-around, space-evenly, stretch);
$flexAlignItems: (normal, flex-start, flex-end, center, start, end, safe, unsafe, self-start, self-end, baseline);
$alignements: (left, right, center);