.btn {
	box-sizing: border-box;
	display: inline-block;
	background: $primaryColor;
	color: white;
	padding: 0.8rem 1.5rem;
	border: none;
	cursor: pointer;
	font-size: 1.1rem;
	border-radius: 4px;
	text-decoration: none;
	font-weight: bold;	
	box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
		0 2px 2px rgba(0,0,0,0.15), 
		0 4px 4px rgba(0,0,0,0.15), 
		0 8px 8px rgba(0,0,0,0.15);
	&:hover {
		opacity: .9;		
	}
	&-rounded {
		border-radius: 999px;
	}
}

$btnFontSizeRatio: 1.3rem;
$btnPaddingSizeRatio: 1rem;
$sizes: (
	'xs': 1, 
	'sm': 1.59, // +159% 
	'md': 2.1, // +213%
	'lg': 2.75, // +275%
	'xl': 3.32, // +332%
	'2xl': 3.87, // +387%
	'4xl': 4.4
);
@each $labelSize, $size in $sizes {
	.btn-#{$labelSize} {		
		font-size: $btnFontSizeRatio * $size  * 0.7;
		padding: $btnPaddingSizeRatio * 0.5 * $size;
	}
	@include mq('sm') {
		.btn-#{$labelSize} {
			font-size: $btnFontSizeRatio * $size;
		}		
	}
}



.cta {
	padding: 3rem 2rem;
	font-size: 4rem;
	margin: 1rem 1rem;
	&hover {
		letter-spacing: 4px;
	}
}

.btn-full {width: 100%;}