/* Display */
.d-inline-block {display: inline-block;}
.d-block {display: block;}

// Flex utilities
.d-flex {display: flex;}

@each $value in (row, column, row-reverse, column-reverse) {
    .flex-#{$value} {
        flex-direction: $value;
    }
}

$flexJustify: ('start': start, 
    'end': end, 
    'center': center, 
    'between': space-between,
    'around': space-around,
    'evenly': space-evenly
);
$flexAlignItems: (start, end, center, baseline, stretch);

@each $name, $value in $flexJustify {
    .justify-content-#{$name} {
        justify-content: $value;
    }
}
@each $value in $flexAlignItems {
    .align-items-#{$value} {
        align-items: $value;
    }
}
@each $value in (wrap, no-wrap, wrap-reverse) {
    .flex-#{$value} {
        flex-wrap: $value;
    }
}

/* Position utils */

// Text alignement
@each $position in $positions {
  .text-#{$position} {
    text-align: $position;    
  }
}
.mx-auto {margin: 0 auto;}

/* Container and box */
.container-fluid {max-width: 100%; padding: 0 15px;}
.container {max-width: 1300px; padding: 0 15px; margin: 0 auto;}

/* Text and content */
.main-h1 {font-size: 1.2rem;}
.legal--text {font-size: 1.1rem;}
.lead {font-size: 1.5rem; color: lighten($jokerColor, 15%)}
// Font styles
.font-weight-bold {font-weight: bold;};

// Background is white, so the contrast is 5.02

@each $colorName, $color in $colors {
    .bg-#{$colorName} {
        background: $color;
    }
    .text-#{$colorName} {
        color: $color;
    }
}

$padSize: 0;
@for $i from 0 through 5 {    
    .pa-#{$i} {padding: $padSize;}
    .pl-#{$i} {padding-left: $padSize;}
    .pr-#{$i} {padding-right: $padSize;}
    .pt-#{$i} {padding-top: $padSize;}
    .pb-#{$i} {padding-bottom: $padSize;}
    .px-#{$i} {padding: 0 ($padSize / 2);}
    .py-#{$i} {padding: ($padSize / 2) 0;}

    .ma-#{$i} {margin: $padSize;}
    .ml-#{$i} {margin-left: $padSize;}
    .mr-#{$i} {margin-right: $padSize;}
    .mt-#{$i} {margin-top: $padSize;}
    .mb-#{$i} {margin-bottom: $padSize;}
    .mx-#{$i} {margin: 0 ($padSize / 2);}
    .my-#{$i} {margin: ($padSize / 2) 0;}
    $padSize: $padSize + 0.4rem;
}
// .bg-primary {background: $primaryColor;}
// .text-primary {color: $primaryColor;}
// .bg-secondary {background: $secondaryColor;}
// .text-black {color: #000000;}
// .text-secondary {color: $secondaryColor;}
// .text-white {color: white;}
// .bg-joker {background: $jokerColor;}
// .text-joker {color: $jokerColor;}
.text-disabled {opacity: 0.2;}
// .bg-white {background: white;}

// UTilities

/* Text size */

@for $i from 1 to length($sizes) + 1 {
    $name: $i;
    @if $i == 1 {
        $name: '';
    }
    .text-#{$name}xl {
        $e: nth($sizes, $i);
        $lineHeight: $e + 0.5;
        @if $e > 2.25 {
            $lineHeight: 1
        }
        font-size: $e;
        line-height: $lineHeight;
    }    
}

.fixed-top-right {position: fixed; top: 1%; right: 1%}

/* Box model */
.pa-none {padding: 0px !important;}
.pl-none {padding-left: 0px !important;}
.pr-none {padding-right: 0px !important;}
.ma-none {margin: 0px !important;}
.spacer--v {margin: 15px 0;}
.mx-auto {margin: 0 auto;}
.spacer {
	margin-top: 40px; /* define margin as you see fit */
	height: 100px;	
}
.border-box-lt {border-radius: 20px 0 0 0}
.border-box-lb {border-radius: 0 0 0 20px}
.border-box-rt {border-radius: 0 20px 0 0}
.border-box-rb {border-radius: 0 0 20px 0}
.border-box-none {border-radius: none;}

/* Dimensions */
.h-100p {height: 100%;}
.w-full {width: 100%;}
.h-30 {height: 30rem;}
.min-w-12 {min-width: 12rem;}