// Sass variables:
// Colors ---------------------------------------
$primaryColor: #D6D6D6!default;
$secondaryColor: #FF5722!default;
$jokerColor: #19323C!default;
$linkColor: #FFDD41!default;
$formColor: darken($jokerColor, 5%)!default;
$successColor: #2FBF71!default;
$dangerColor: #EF2D56!default;
$warningColor: #ffab3cea!default;
$darkColor: #333333!default;
$lightColor: #F4F4F4!default;
$textColor: #333333!default;
$neutralColor: #3A3A3A!default;
$checkedColor: #EF4444!default;
$infoColor: #41d0fc!default;

$colors: ('primary': $primaryColor,
	'secondary': $secondaryColor,
	'joker': $jokerColor,
	'link': $linkColor,
	'white': #FFFFFF,
	'black': #000000,
	'success': $successColor,
	'danger': $dangerColor,
	'info': $infoColor,
	'warning': $warningColor,
	'dark': $darkColor,
	'light': $lightColor,
	'neutral': $neutralColor,
	'checked': $checkedColor
);

$marginSuccess: 15px;
$marginError: 25px;
$primaryColorAccent: lighten($primaryColor, 60%);

$chkSquareDim: 3rem;

// Text light and dark --------------------------
$lighterText: rbg(111,111,111)!default;
$lightText: #FFFFFF!default;
$darkText: #19323C!default;
$darkTextAccent: rgb(71,78,93)!default;

$baseBtnSize: 1rem;
$formHeight: 48px;
$formIconPadding: 48px;

// Fonts:
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Open Sans', sans-serif;

$blockPadding: 15px;

// Position
$positions: 'left', 'right', 'center', 'justify';

// Text sizes
$sizes: 1.25rem, 1.5rem, 1.875rem, 2.25rem, 3rem, 3.75rem, 4.5rem, 6rem, 8rem;


// $breakpointsMax: (
// 	'xs': 'max-width: 576px'
// 	'sm': 'max-width: 640px',
// 	'md':  'max-width:  768px',
// 	'lg': 'max-width:  992px',
// 	'xl':  'max-width: 1200px',
// 	'xxl':  'max-width: 1200px'
// ) !default;

$breakpointsMin: (
	'sm':  'min-width: 576px',
	'md':   'min-width:  768px',
	'lg':  'min-width:  992px',
	'xl':   'min-width: 1200px',
	'xxl':   'min-width: 1400px' ) !default;