.navbar {
	button {background: transparent; border: none;}
	background: $primaryColor;
	display: flex; 
	align-items: center; 
	justify-content: flex-start;
	text-align: center;
	width: 100%;
	/* Responsive */
	padding: 5px 15px;
	position: relative;
	font-size: 1rem;
	@media (map-get($breakpointsMin, 'sm')) {
    	font-size: 1.5rem;
	}
	.nav__logo {
		// background: green;
		width: 6%;
		flex-shrink: 0;
		display: none;
		img {
			width: 64px;
			border-radius: 50%;
		}
		@media (map-get($breakpointsMin, 'sm')) {
        	display: flex; align-items: center;
    	}
	}	
	.nav__brand {
		// background: blue;
		width: 10%;
		flex-shrink: 0;
		display: none;
		@media (map-get($breakpointsMin, 'sm')) {
        	display: flex; align-items: center;
    	}
	}
	.nav__items {
		width: 100%;		
	}
	ul {
		width: 100%;
		display: flex;
		// background: red;		
		justify-content: center;
		align-items: flex-start;		
        top: 1%; left: 1%;        
        background: $secondaryColor;
        /* Responsive */
        flex-direction: column;
        position: absolute;
        max-width: 40%;
        box-shadow: 2px 2px 4px 1px #333;
		@media (map-get($breakpointsMin, 'sm')) {
        	flex-direction: row;
        	position: static;
        	max-width: 100%;
        	background: transparent;
        	box-shadow: none;
    	}
    	li {
			// background: indigo;			
			margin: 0 15px;
			padding: 5px 25px;			
			list-style-type: none;
			display: flex; align-items: center;
			font-weight: bold;
			text-transform: uppercase;
		}
		a {
			color: $textColor;
			text-decoration: none;
			&:visited {color: $textColor!important;}
		}
	}	
}